* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
}

.emphasis {
  color: #ffae00;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
}

.offerButton {
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 25px;
  border: none;
  background-color: #ffae00;
  color: #fff;
  border: 1px solid #c28400;
  cursor: pointer;
  font-size: 1rem;
}

.offerButton:hover {
  background-color: #c28400;
  transition: all 250ms;
}

.offerButton:not(:hover) {
  transition: all 250ms;
}

.headLineContainer {
  margin-top: 13rem;
}
.headLineContainer .headLine {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headLineContainer .headLine .headLineText {
  max-width: 40vw;
}

.headerContainer {
  margin-top: 15rem;
  padding-bottom: 15rem;
  background-color: #181818;
}
.headerContainer .header {
  padding-top: 10rem;
  max-width: 50vw;
  margin: auto;
  line-height: 2rem;
  text-align: justify;
}
.headerContainer .header h1 {
  text-align: center;
}

.benefitsContainer {
  margin-top: 15rem;
}
.benefitsContainer .benefits {
  max-width: 50vw;
  margin: auto;
  display: flex;
}
.benefitsContainer .benefit {
  margin: 2rem;
  padding: 2rem;
  border-radius: 25px;
  background-color: #101010;
}
.benefitsContainer .benefit h3 {
  font-weight: 500;
}
.benefitsContainer .benefit p {
  font-weight: 300;
}
.benefitsContainer .benefit:hover {
  background-color: #151515;
  transition: all 250ms;
}
.benefitsContainer .benefit:not(:hover) {
  transition: all 250ms;
}

li {
  list-style: circle;
  padding: 1rem;
}

.btnContainer {
  margin: auto;
  text-align: center;
  margin: 1rem;
}

.courseContentContainer {
  margin-top: 15rem;
  background-color: #181818;
}
.courseContentContainer .courseContent {
  padding-top: 5rem;
}
.courseContentContainer h1 {
  text-align: center;
}

.contents, .reasons {
  max-width: 50vw;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.contents .content, .reasons .content, .reasons .reason {
  background-color: #151515;
  margin: 1rem;
  padding: 1rem;
  border-radius: 25px;
}
.contents .content:hover, .reasons .content:hover, .reasons .reason:hover {
  transition: all 250ms;
  background-color: #171717;
}
.contents .content:not(:hover), .reasons .content:not(:hover), .reasons .reason:not(:hover) {
  transition: all 250ms;
}

.reasonsContainer {
  padding-bottom: 15rem;
}

.opinionsContainer {
  margin-top: 15rem;
  padding-bottom: 10rem;
  max-width: 50vw;
  margin: auto;
}
.opinionsContainer h1 {
  text-align: center;
  margin-top: 10rem;
}
.opinionsContainer .opinions {
  display: grid;
  grid-template-columns: auto auto auto;
}
.opinionsContainer .opinion {
  margin: 2rem;
  padding: 1rem;
  background-color: #101010;
  border-radius: 15px;
}
.opinionsContainer .opinion .opinionPerson {
  display: flex;
  justify-content: left;
}
.opinionsContainer .opinion .opinionPerson img {
  border-radius: 50px;
  margin-right: 1rem;
}
.opinionsContainer .opinion:hover {
  transition: all 250ms;
  background-color: #151515;
}
.opinionsContainer .opinion:not(:hover) {
  transition: all 250ms;
}

.valuesContainer {
  background-color: #181818;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}
.valuesContainer h2 {
  font-size: 2rem;
}
.valuesContainer .values {
  max-width: 50vw;
  margin: auto;
  padding: 2rem;
}
.valuesContainer .payments {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.valuesContainer .offerTimer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.valuesContainer .offerTimer h1, .valuesContainer .offerTimer h2 {
  margin: 1rem;
}

.counter h2 {
  font-size: 2rem;
}

.footer {
  text-align: center;
  padding: 1rem;
}
.footer h4 {
  font-weight: 200;
}/*# sourceMappingURL=style.css.map */